.search-input {
    flex: 1;
    padding: 0.5rem;
    border-radius: 50px;
  }
  
  /* styles.css */
  /* styles.css */
  
  .overlay-active {
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5); /* Change opacity as needed */
  }
  
  /* Additional styles for the navbar, adjust as needed */
  #navbar {
    transition: transform 0.5s ease-in-out;
  }
  
  .invisible {
    transform: translateX(-100%);
  }
  
  .visible {
    transform: translateX(0);
  }